.section-about {
    
}

.section-about__container {
    padding-top: 160px;
    padding-bottom: 380px;
}

.section-about__content {
    width: 100%;

    & > * {
        vertical-align: top;
        display: inline-block;
    }
}

.section-about__introduction {
    position: relative;

    display: inline-block;
}

.section-about__paragraph {
    .line {
        display: inline-block;
        transform: translateY(30px);
    }

    .line-container {
        position: relative;

        display: inline-block;
        overflow: hidden;
    }

    &.isInView {
        .line-container {
            @for $i from 1 to 24 {
                &--#{$i} {
                    .line {
                        transform: translateY(0);
                        transition: transform 1.5s $Power3Out #{$i * 0.1}s;
                    }
                }
            }
        }
    }
}

.section-about__introduction-title {
    position: absolute;
    left: 0;
    top: -16px;
}

.section-about__socials {
    margin-top: 70px;

    font-size: rem(11px);
    line-height: rem(20px);
    text-transform: uppercase;
}

.section-about__socials-item {
    position: relative;

    height: 20px;
}

.section-about__socials-link {
    position: relative;

    display: inline-block;

    height: 100%;
    padding-right: 15px;

    svg {
        position: absolute;
        left: calc(100% - 10px);
        top: 0;
        bottom: 0;

        width: 7px;
        height: auto;

        margin: auto;

        transform: scaleY(-1);

        path {
            fill: $white
        }
    }

    &:hover {
        svg {
            animation: arrow-socials 0.6s $Power3InOut forwards;
        }
    }
}

@keyframes arrow-socials {
    0% {
        transform: scaleY(-1) translate(0, 0);
        opacity: 1;
    }
    50% {
        transform: scaleY(-1) translate(50%, 50%);
        opacity: 0;
    }
    51% {
        transform: scaleY(-1) translate(-50%, -50%);
        opacity: 0;
    }
    100% {
        transform: scaleY(-1) translate(0, 0);
        opacity: 1;
    }
}

@include mq-regular {
    .section-about__content {
        width: size(19, 24);
    
        margin-left: size(5, 24);
    }

    .section-about__introduction {
        width: size(13, 19);
    }

    .section-about__paragraph {
        max-width: 520px;
    }

    .section-about__socials {
        width: size(5, 19);

        margin-top: 0px;
    }
}

@include mq-extra-narrow {
    .section-about__container {
        padding-top: 75px;
        padding-bottom: 190px;
    }

    .section-about__socials {
        margin-top: 40px;
    
        font-size: rem(11px);
        line-height: rem(20px);
        text-transform: uppercase;
    }

    .section-about__paragraph {
        // max-width: size(7, 8);
        max-width: 295px;
    }

    .section-about__socials-link {    
        svg {
            position: absolute;
            left: calc(100% - 10px);
            top: 6px;
            bottom: auto;
    
            width: 6px;
            height: auto;
        }
    }
}