.footer-project {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 108px;
}

.footer-project__list {
    position: absolute;
    left: 0;
    bottom: 40px;

    width: 100%;
}

.footer-project__list-item {
    vertical-align: bottom;
    display: inline-block;

    width: size(6, 24);

    &:last-child {
        text-align: right;
    }
}

.footer-project__list-content, .footer-project__list-title {
    color: $black;
}

.footer-project__list-button {
    position: relative;

    display: inline-block;

    box-sizing: border-box;
    padding-top: 35px;
    padding-bottom: 1px;

    color: $black;
    cursor: pointer;

    svg {
        width: 7px;
        height: 7px;

        margin-bottom: 0px;
        margin-left: 1px;
        transform: scaleY(-1);

        path {
            fill: $black;
        }
    }

    &:before, &:after {
        content: '';

        position: absolute;

        width: calc(100% - 10px);
        height: 0;

        border-bottom: 1px solid $black;
    }

    &:after {
        right: 10px;
        bottom: 0;
    }

    &:before {
        left: 0;
        bottom: 0;

        width: 0;
    }

    &:hover {
        &:after {
            width: 0;
            transition: width 0.5s $Power2In;
        }
        &:before {
            width: calc(100% - 10px);
            transition: width 0.5s $Power2Out 0.4s;
        }

        svg {
            animation: arrow-link 0.8s $Power3InOut .2s forwards;
        }
    }
}

@keyframes arrow-link {
    0% {
        transform: scaleY(-1) translate(0, 0);
        opacity: 1;
    }
    50% {
        transform: scaleY(-1) translate(50%, 50%);
        opacity: 0;
    }
    51% {
        transform: scaleY(-1) translate(-50%, -50%);
        opacity: 0;
    }
    100% {
        transform: scaleY(-1) translate(0, 0);
        opacity: 1;
    }
}

.footer-project__line {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 0px;

    border-bottom: 1px solid $black;
}

@include mq-narrow {
    .footer-project {
        position: relative;
    }

    .footer-project__list {
        top: 40px;
        bottom: auto;
    }

    .footer-project__list-item {
        width: size(12, 24);
    
        &:last-child {
            text-align: left;
        }

        &:nth-child(3), &:nth-child(4) {
            margin-top: 15px;
        }
    }
}

@include mq-regular {
    .footer-project {
        position: absolute;
    }

    .footer-project__list {
        top: auto;
        bottom: 40px;
    }

    .footer-project__list-item {
        width: size(6, 24);

        margin: 0;

        &:last-child {
            text-align: right;
        }
    }
}

@include mq-extra-narrow {
    .footer-project {
        position: relative;

        width: calc(100% - 40px);
        height: 64px;

        margin: auto;
    }

    .footer-project__list {
        top: 20px;
        bottom: auto;
    }

    .footer-project__list-item {
        width: size(12, 24);
    
        &:last-child {
            text-align: left;
        }

        &:nth-child(3), &:nth-child(4) {
            margin-top: 5px;
        }
    }

    .footer-project__list-button {
        display: initial;
        
        svg {
            width: 5px;
            height: 5px;
        }
    }

    .footer-project__list-title {
        font-size: rem(7px);
    }
}