.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 108px;

    &--header {
        .footer-list-arrow {
            visibility: visible;
        }
    }

    &--home {
        .footer-list-arrow {
            visibility: hidden;
        }

        .footer-arrow {
            opacity: 0;
            transform: translateY(40px) rotate(-90deg);
        }

        .footer-list-item {
            opacity: 0;
            transform: translateY(20px);
        }

        &.isInView {
            .footer-arrow {
                opacity: 1;
                transform: translateY(0) rotate(-90deg);

                @for $i from 0 to 2 {
                    &:nth-child(#{$i+1}) {
                        transition: 2s $Power3Out #{$i * 0.2 + 0.3}s;
                        transition-property: transform, opacity;
                    }
                }
            }

            .footer-list-item {
                opacity: 1;
                transform: translateY(0);

                @for $i from 0 to 4 {
                    &:nth-child(#{$i+1}) {
                        transition: 1s $Power3Out #{$i * 0}s;
                        transition-property: transform, opacity;
                    }
                }
            }
        }
    }
}

.footer-arrows {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    cursor: default;

    height: 24px;

    margin: auto;
}

.footer-arrow {
    display: inline-block;
}

.footer-list {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.footer-list-item {
    position: relative;

    display: inline-block;
    vertical-align: top;

    &:nth-child(1) {
        pointer-events: none;
        width: size(5, 24);
    }

    &:nth-child(2) {
        width: size(11, 24);
    }

    &:nth-child(3) {
        display: none;
        width: size(8, 24);
    }

    &:nth-child(4) {
        width: size(6, 24);
    }
}

.footer-list-arrow {
    position: absolute;
    left: -15px;
    top: 3px;

    width: 8px;
    height: 8px;
    
    .cls-1 {
        fill: $brownGrey;
    }
}

.footer-text {
    max-width: 170px;
}

.footer-line {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 1px;

    transform-origin: left top;

    background-color: $brownGrey;
}

@include mq-regular {
    .footer-list-item {    
        &:nth-child(1) {
            width: size(5, 24);
        }
    
        &:nth-child(2) {
            width: size(5, 24);
        }
    
        &:nth-child(3) {
            display: inline-block;
            width: size(8, 24);
        }
    
        &:nth-child(4) {
            width: size(6, 24);
        }
    }
}

@include mq-extra-narrow {
    .footer {
        height: 64px;
    }

    .footer-list-item {    
        &:nth-child(1) {
            width: size(2, 8);
        }
    
        &:nth-child(2) {
            width: size(3, 8);
        }
    
        &:nth-child(3) {
            display: none;
        }
    
        &:nth-child(4) {
            width: size(3, 8);
        }
    }

    .footer-text {
        width: calc(100% - 5px);
    }

    .footer-arrow {
        &:first-child {
            display: none;
        }
    }

    .footer-list-arrow {
        left: -10px;
        top: 2px;
        
        width: 6px;
        height: 6px;
        
        .cls-1 {
            fill: $brownGrey;
        }
    }
}

@media (max-width: 340px) {
    .footer-text {
        font-size: rem(7px);
    }

    .footer-list-arrow {
        left: -10px;
        top: 2px;
        
        width: 5px;
        height: 5px;
        
        .cls-1 {
            fill: $brownGrey;
        }
    }
}