.loader {
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: $darkGrey;
}

.loader__mask {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    &--1 {
        background-color: $white;

        * {
            color: white;
        }

        .arrow {
            background-color: white;
        }
        
        .cls-1 {
            fill: $white
        }

        .footer-line {
            background-color: white;
        }
    }

    &--2 {
        background-color: white;
        
        * {
            color: $white;
        }

        .arrow {
            background-color: $white;
        }
        
        .cls-1 {
            fill: white
        }

        .footer-line {
            background-color: $white;
        }
    }
}
