.navbar {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;

    opacity: 0;
}

.navbar__list {
    width: 100%;

    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
}

.navbar__list-item {
    display: inline-block;

    &:first-child {
        width: 40%;

        &:after {
            content: " 's";
            
            font-size: 10px;
            line-height: 10px;
            opacity: 0;

            transition: opacity 1s ease-in-out 0.5s;
        }

        &.isInView {
            &:after {
                opacity: 0.3;
            }
        }
    }
    &:nth-child(2) {
        width: 33%;
    }
}