.section-projects__list-item {
    &:last-child {
        .project-list-item__border--bottom {    
            display: block;
        }
    }
}

.project-list-item {
    position: relative;

    width: 100%;
    height: 140px;

    .project-list-item__project-name {
        transform: translateY(10px);
        opacity: 0;
    }

    .project-list-item__project-infos {
        transform: translateY(5px);
        opacity: 0;
    }

    .project-list-item__image-container {
        width: 0;

        transition: width 0.7s $Power3Out;
    }

    .project-list-item__image {
        transform: translateX(-50%) rotate(0deg) scale(1.2, 1.2);

        transition: transform 0.7s $Power3Out;
    }

    svg {
        transform-origin: right top;
        transform: rotate(-45deg);

        transition: transform 0.8s $Power3Out;
    }

    &.isInView {
        svg {
            transform: rotate(0deg);

            transition: transform 1.2s $Power3Out;
        }

        .project-list-item__project-name, .project-list-item__project-infos {
            transform: translateY(0);
            opacity: 1;

            transition: transform 0.8s $Power3Out;
            transition-property: transform, opacity;
        }

        .project-list-item__project-name {
            transition: transform 0.8s $Power3Out;
            transition-property: opacity, transform;
        }
    }

    &:hover, &.is-active {
        @media (hover:hover) and (min-width: 680px) {
            @media (min-width: 500px) {
                .project-list-item__project-name {
                    transform: translateX(200px);
        
                    transition: transform 0.7s $Power3Out;
                }
    
                .project-list-item__image-container {
                    width: 180px;
        
                    transition: width 0.7s $Power3Out;
                }
        
                .project-list-item__image {
                    transform: translateX(-50%);
        
                    transition: transform 0.8s $Power3Out;
                }
                
                @media (max-width: 1180px) and (min-width: 980px) {
                    .project-list-item__project-infos {
                        transform: translateX(50%);
                    }
                } 
                @media (max-width: 979px) {
                    .project-list-item__image-container {
                        width: 100px;
                    }

                    .project-list-item__project-name {
                        transform: translateX(120px);
                    }

                    .project-list-item__project-infos {
                        transform: translateX(40%);
                    }
                }
                @media (max-width: 870px) and (min-width: $bp-regular + 1) {
                    .project-list-item__image-container {
                        width: 0;
                    }

                    .project-list-item__project-name {
                        transform: translateX(0);
                    }

                    .project-list-item__project-infos {
                        transform: translateX(0);
                    }
                }
                @media (max-width: $bp-regular) {
                    .project-list-item__project-name {
                        transform: translateX(200px);
            
                        transition: transform 0.7s $Power3Out;
                    }
        
                    .project-list-item__image-container {
                        width: 180px;
            
                        transition: width 0.7s $Power3Out;
                    }
            
                    .project-list-item__image {
                        transform: translateX(-50%);
            
                        transition: transform 0.8s $Power3Out;
                    }
                }
            }
        }
    }

    &:hover {
        // @media (hover:hover) and (min-width: 1180px) {}

        svg {
            transform: rotate(45deg);
            transition-duration: 0.8s;
            transition-timing-function: $Power3Out;
        }
    }
}

.project-list-item__image-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    height: 80%;
    width: 150px;

    margin: auto;
    overflow: hidden;

    font-size: 0;

    pointer-events: none;
}

.project-list-item__image {
    position: absolute;
    left: 50%;
    top: 0;

    transform: translateX(-50%);

    height: 100%;
    width: auto;

    margin: auto;
}

.project-list-item__link {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    color: transparent;
}

.project-list-item__content {
    pointer-events: none;
    padding-top: 30px;

    & > * {
        vertical-align: top;
        display: inline-block;
    }
}

.project-list-item__project-name {
    width: size(16, 24);

    padding-right: 10px;
    box-sizing: border-box;

    font-size: rem(38px);
    line-height: rem(34px);
    letter-spacing: -1.9px;
    text-transform: uppercase;
}

.project-list-item__project-infos {
    width: size(8, 24);

    font-size: rem(11px);
    line-height: rem(16px);
    text-transform: uppercase;
}

.project-list-item__project-link {
    position: absolute;
    top: 33px;
    right: 0;

    width: 48px;
    height: 48px;

    margin-top: -21px;
    margin-right: -21px;

    font-size: 0;

    background-color: transparent;
    border-radius: 50%;

    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;;

    svg {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;

        width: 7px;
        height: 7px;

        margin: auto;

        path {
            fill: $white;
        }
    }
}

.project-list-item__border {
    position: absolute;
    left: 0;

    width: 100%;
    height: 0px;

    border-top: solid 1px $white;

    &--top {
        top: 0;
    }

    &--bottom {
        display: none;

        bottom: 0;
    }
}

@include mq-regular {
    .project-list-item__project-name {
        width: size(13, 19);

        padding-right: 0;

        font-size: rem(54px);
        line-height: rem(45px);
        letter-spacing: -2.7px;
    }

    .project-list-item__project-infos {
        width: size(5, 19);
    }
}

@include mq-extra-narrow {
    .project-list-item {
        height: 70px;
    }

    .project-list-item__project-name {
        width: #{size(5, 8)};
    
        font-size: rem(27px);
        line-height: rem(25px);
        letter-spacing: -1.35px;;
    }
    
    .project-list-item__project-infos {
        width: #{size(3, 8)};
    
        font-size: rem(8px);
        line-height: rem(10px);
        text-transform: uppercase;
    }

    .project-list-item__content {
        padding-top: 15px;
    }

    .project-list-item__project-link {
        top: auto;
        
        svg {    
            width: 6px;
            height: auto;
        }
    }    
}

@include mq-extra-little {
    .project-list-item__project-name {
        font-size: rem(25px);
        line-height: rem(23px);
        letter-spacing: -1px;;
    }

    .project-list-item__project-infos {    
        font-size: rem(8px);
        line-height: rem(10px);
    }
}