body {
    background-color: $darkGrey;
    color: $white;

    overflow-y: hidden;
    overscroll-behavior-y: none;

    &.isScrollEnable {
        overflow-y: scroll;
    }

    font-family: $regular;
}

.js-scroll-content {
    width: 100%;
}