.transition-overlay {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 100vh;
}

.main__content {
    transition: opacity 1s ease-in-out;
}

.page-home {
    .transition-overlay {
        background-color: $white;

        transform: translateY(100%);
    }
}

.page-project {
    .transition-overlay {
        background-color: $darkGrey;

        transform: translateY(-100%);
    }
}


//home
.home-enter-active {
    
}

.home-enter {
    .main__content {
        opacity: 0;
    }
}

.home-enter-to {
    
}

.home-leave {
    
}

.home-leave-active {
    
}

//project
.project-enter {
    .main__content {
        opacity: 0;
    }
}

.project-leave {
    
}

.project-enter-active {
    
}

.project-leave-active {

}