.heading {
    font-family: $regular;
    font-size: rem(71px);
    line-height: rem(60px);
    letter-spacing: -4.9px;
    text-transform: uppercase;
}

.tiny-word {
    font-family: $regular;
    font-size: rem(8px);
    letter-spacing: 0;
    line-height: rem(10px);
    text-transform: uppercase;

    color: $brownGrey;

    &--small {
        font-size: rem(7px);
        line-height: rem(9px);
    }
}

.paragraph {
    font-family: $regular;
    font-size: rem(18px);
    letter-spacing: 0;
    line-height: rem(24px);
    text-transform: uppercase;

    &--small {
        font-size: rem(13px);
        line-height: rem(19px);
    }
}

.rich-text {
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-text {
    font-family: $regular;
    font-size: rem(10px);
    letter-spacing: 0;
    line-height: rem(13px);
    text-transform: uppercase;

    color: $brownGrey;

    // .old {
    //     font-size: rem(11px);
    //     letter-spacing: 0;
    //     line-height: rem(14px); 
    // }
}

@include mq-regular {
    .heading {
        font-size: rem(102px);
        line-height: rem(86px);
        letter-spacing: -7.12px;
    }
}

@include mq-extra-narrow {
    .heading {
        font-size: rem(41px);
        line-height: rem(41px);
        letter-spacing: -2.5px;
    }
    
    .tiny-word {
        font-size: rem(7px);
        line-height: rem(7px);
    }
    
    .paragraph {
        font-size: rem(11px);
        line-height: rem(16px);
    
        &--small {
            font-size: rem(11px);
            line-height: rem(15px);
        }
    }
    
    .footer-text {
        font-size: rem(8px);
        line-height: rem(10px);
    }
}

//RATIOS PER SCREEN SIZE
//Regular *1
//Narrow *0.7
//ExtraNarrow *0.5