/**
 * Colors
 */
$darkGrey: #1d1b1c;
$black: #181617;
$brownGrey: #817674;
$white: #b0b0b0;
$grey: #8d8d8d;
$realWhite: #e1e1e1;

/**
 * Fonts
 */
$regular: 'NHaas Grotesk Regular';
$medium: 'NHaas Grotesk Medium';

/**
 * Layout
 */
$col-lg-amount: 24;
$col-xs-amount: 8;

:root{
    --vh: 1vh;
}

/**
 * Easing
 */
$Power4InOut: cubic-bezier(.79,0,.21,1);
$Power3InOut: cubic-bezier(.67,.01,.3,.99);

// $Power4Out: cubic-bezier(.79,0,.21,1);
$Power3Out: cubic-bezier(.16,.69,.21,.98);

$Power3In: cubic-bezier(.46,.03,.84,.28);