/**
 * Colors
 */
$darkGrey: #1d1b1c;
$brownGrey: #817674;
$white: #b0b0b0;

/**
 * Fonts
 */
$regular: 'NHaas Grotesk Regular';
$medium: 'NHaas Grotesk Medium';

/**
 * Layout
 */
$col-lg-amount: 24;
$col-xs-amount: 8;