.page-home {
    position: relative;

    width: 100vw;

    // background-color: $darkGrey;

    & * {
        @include custom-selection {
            background-color: $white;
            color: $black;
        }
    }
}