.page-home {
    position: relative;

    background-color: $darkGrey;

    & * {
        @include custom-selection {
            background-color: $white;
            color: $black;
        }
    }
}